html, body, #root {
  height: 100%;
  color: rgb(35,31,32);
  padding: 0;
  margin:0;
  overflow-x: hidden;
}

@import '../../node_modules/bootstrap/scss/bootstrap';


/*
  Global Styles
*/

.logo {
  width: 150px;
  height: 65px;
  object-fit: contain;
}

h1, h2,h3,h4,h5,h6, .nav {
  // font-family: 'Julee' !important;
  font-weight: 100 !important;
}

section.content {
  padding: 1em 1.5em;
}

/*
  Navigation
*/

nav {
  z-index: 9999;
  position: absolute;
  top:0;
  left:0;
  right:0;
  display: flex;
  // align-items: center;
  justify-content: center;
  align-content: space-around;
  padding-top: 1em;
}

nav .nav {
  flex:1;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  font-weight: 200;
  color: rgb(35,31,32);
  text-transform: uppercase;
}

.nav:not(.brand) {
  // padding-top: 10px;
}

.nav.brand img {
  margin-bottom: 0.5em;
}

.nav:hover {
  text-decoration: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  left:0;
}

@media (aspect-ratio: 1/3) {
  nav .logo {
    width: 250px;
    height: 130px;
  }

  nav > .nav:not(.brand) {
    display: none;
  }

  nav .nav-mobile {
    display: inline-block;
  }
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  position: absolute;
  display: block;
  border-radius: 2px;
  content:'';
  width: 50px;
  height: 5px;
  background: #818A91;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.menu-icon {
  top: 15px;
  left: 15px;
}

.menu-icon::before {
  top: -15px;
}

.menu-icon::after {
  top: 15px;
}

/* Hover */

nav .menu-toggle:hover .menu-icon {
  background:white;
}

nav:not(.menu-open) .menu-toggle:hover .menu-icon::after {
  transform-origin: 75% 50%;
  transform: rotate(27.5deg);
}

nav:not(.menu-open) .menu-toggle:hover .menu-icon::before {
  transform-origin: 75% 50%;
  transform: rotate(-27.5deg);
}

/* Open */

nav.menu-open .menu-toggle {
  transform: rotate(-90deg);
}

nav.menu-open .menu-icon {
  background:white;
}

nav.menu-open .menu-icon::after {
  transform: translateY(-0.5em) rotate(45deg);
}

nav.menu-open .menu-icon::before {
  transform: translateY(0.5em) rotate(-45deg);
}


/*
  Sections
*/

section.content {
  padding: 1em 5%;
	margin: 0 -50px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

section.content:nth-child(odd) {
	background: rgb(35,31,32);
  color: white;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
  padding: 1.5em 5em 7em 5em;
}

section.content:nth-child(even) {
	background: rgb(237,237,237);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
  padding: 1.5em 5em 13em 5.5em;
}

section.content.clear {
  padding-top: 1.5em !important;
}



/*
  Map Styles
*/

section.main {
  position: relative;
  padding: 1em;
  width: 100vw;
  height: 75vh;
  text-align: center;
}


.map-fill {
  z-index: -1;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.gmnoprint:first-of-type, .gm-style-cc {
  display: none;
}

.map-marker {
  height: 50px;
  width: 50px;
  background: orange;
}

.map-splash {
    z-index: 999999;
    position: absolute;
    top: 50%;
    left:50%;
    // font-weight: 300 !important;
    transform: translate(-50%, -0%);
}
