html, body, #root {
  height: 100%;
  color: rgb(35,31,32);
  padding: 0;
  margin:0;
}

@import '../../node_modules/bootstrap/scss/bootstrap';


section.full-map {
  position: relative;
  padding: 1em;
  width: 100vw;
  height: 66vh;
  text-align: center;
}


/*
  Global Styles
*/

.logo {
  width: 150px;
  height: 65px;
  object-fit: contain;
}

h1, h2,h3,h4,h5,h6, .nav {
  // font-family: 'Julee' !important;
  font-weight: 100 !important;
}

section.content {
  padding: 1em 1.5em;
}

/*
  Navigation
*/

nav {
  z-index: 9999;
  position: absolute;
  top:0;
  left:0;
  right:0;
  display: flex;
  // align-items: center;
  justify-content: center;
  align-content: space-around;
  padding-top: 1em;
}

nav .nav {
  flex:1;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  font-weight: 200;
  color: rgb(35,31,32);
  text-transform: uppercase;
}

.nav:not(.brand) {
  // padding-top: 10px;
}

.nav.brand img {
  margin-bottom: 0.5em;
}

.nav:hover {
  text-decoration: none;
}


/*
  Map Styles
*/

.map-fill {
  z-index: -1;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.gmnoprint:first-of-type, .gm-style-cc {
  display: none;
}

.map-marker {
  height: 50px;
  width: 50px;
  background: orange;
}

.map-splash {
    z-index: 999999;
    position: absolute;
    top: 50%;
    left:50%;
    // font-weight: 300 !important;
    transform: translate(-50%, -0%);
}
